:root:root[saved-theme=dark] {
    --highlight-fallback: 258,88%,66%;
    --textHighlight-fallback: 255,208,0;
    --light: var(--graph-node,var(--text-muted,var(--background-primary,var(--color-base-00,#1e1e1e))))!important;
    --lightgray: var(--graph-line,var(--color-base-35,var(--background-modifier-border-focus,var(--background-modifier-border,var(--color-base-30,#363636)))))!important;
    --gray: var(--graph-node,var(--text-muted,var(--graph-text,var(--text-normal,var(--checkbox-border-color,var(--text-faint,#666))))))!important;
    --darkgray: var(--graph-node-unresolved,var(--text-faint,var(--text-normal,var(--color-base-100,#dadada))))!important;
    --dark: var(--h1-color,var(--text-faint,#666))!important;
    --secondary: var(--graph-node-focused,var(--text-accent,var(--link-color,var(--text-accent,var(--color-accent-1,hsl(258 - 3,88%*1.02,66%*1.15))))))!important;
    --tertiary: #c4a7e7 !important;
    --highlight: var(--tag-background,hsla(var(--interactive-accent-hsl,var(--color-accent-hsl,var(--highlight-fallback))),.2))!important;
    --textHighlight: var(--text-highlight-bg,rgba(var(--text-highlight-bg-rgb,var(--textHighlight-fallback)),.4))!important
}